div.s-block-input-logo {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    width: 25em;
}

input.s-input {
    border: none;
    margin: 1px;
    line-height: 2em;
    width: inherit;
    font-size: 1.2em;
    text-align: center;
}

.s-block-input-logo button {
    margin: 0 4px;
}