div.s-block-input-logo {
    position: relative;
    width: auto;
}

div.s-block-input-logo button {
    position: absolute;
    right: 5vw;
    top: 5vw;
}

input.s-input {
    height: 1.7em;
    width: 12em;
    padding: 0 2.5em 0 1em;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}