div.s-main-input-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

div.s-block-input-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
}

div.s-block-input-logo button {
    margin-right: 5px;
}

input.s-input {
    height: 1.7em;
    width: 80%;
    padding: 0 2.5vw 0 1vw;
    text-align: center;
    border: none;
    margin: 2px;
}