.s-link-highlighted {
  font-weight: 300;
  font-size: 1.2em;
  text-decoration: underline;
  cursor: pointer;
}

.s-link-block-border {
  text-align: center;
  position: fixed;
  bottom: 0;
  line-height: 4em;
  width: 100%;
  background-color: white;
  border: 1px solid silver;
}

.s-link-block {
  text-align: center;
  position: fixed;
  line-height: 1.5em;
  width: 100%;
  background-color: white;
}

img.s-link-img-resize-block {
  position: fixed;
  margin: 0.5em 0 0 0.5em;
  width: 1.7em;
  height: 9vh;
}

img.s-link-img-resize-no-block {
  padding: 0;
  position: fixed;
  margin: 0.2em 0 0 0.3em;
  width: 1.7em;
  height: 4vh;
}