@font-face {
	font-family: "Ma Super Fonte";
  src: url('../font/file.woff');
}

.s-nav-menu {
  background-color: #FFB72D;
  display: flex;
  height: 9vh;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.s-nav-menu > h1 {
  font-family: "Ma Super Fonte";
  font-size: 6vh;
}

.s-nav-menu > button:first-child, .s-btn-burger {
  margin-left: 5px;
}

.s-nav-menu > button:last-child {
  margin-right: 5px;
}

.s-nav-noback > button:last-child {
  visibility: hidden;
}

.s-no-title {
  background-color: transparent;
}

.s-no-title > h1 {
  display: none;
}