html,
body {
	height: 100%;
}

.s-bg-orange {
  background-color: #FFB72D;
	height: 100vh;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

.s-bg-white {
  background-color: white;
	height: 100vh;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

.s-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}